/*-----------
    Reset
-----------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*-------------
    Debug Zone 
---------------*/

/*-------------
    Debug Zone 
---------------*/


/*------------- 
    Navbar
---------------*/
header{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

nav{
    float: right;
    margin: 10px 20px 0px 0px;
}

nav::after{
    content: "";
    display: table;
    clear: both;
}


nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    margin-left: 40px;
    box-shadow: 2px 3px 2px black;
}

/*------------- 
    /Navbar
---------------*/

/*------------- 
     Main
---------------*/
section{
    position: relative;
    height: 100vh;
    color: #ffff00;
}

#first-view{
    background-color: #ff0000;
}

#second-view{
    background-color: #008000;
}

#third-view{
    color: #008000;
    background-color: #ffff00;
}

.pic-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

.pic-box > img{
    size: 650px;
}

/*------------- 
     /Main
---------------*/