/*-----------
    Reset
-----------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*-------------
    Debug Zone 
---------------*/

/*-------------
    Debug Zone 
---------------*/


/*------------- 
    Navbar
---------------*/

.container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

nav{
    float: right
}

nav::after{
    content: "";
    display: table;
    clear: both;
}


nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    margin: 40px 40px;
}

/*------------- 
    /Navbar
---------------*/

/*------------- 
     Main
---------------*/
section{
    height: 100vh;
}

#first-view{
    background-color: #ff0000;
}

#second-view{
    background-color: #008000;
}

#third-view{
    background-color: #ffff00;
}


/*------------- 
     /Main
---------------*/